<html>
<head>
  <title>Shared Pad</title>
  <link rel="stylesheet" href="/css/pad.css">
  <style type="text/css" media="screen">
    #editor {
        display: block;
        width: 800;
        height: 600;
    }
  </style>
</head>
<body>

<h1>Edit Pad</h1>

<div id="editor" data-document="{{.DocumentId}}" data-session="{{.SessionId}}"></div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="/js/ace-min/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/pad.js" type="text/javascript"></script>
</body>
</html>
