<html>
<head>
  <title>Pair Pad</title>
  <link rel="stylesheet" href="/css/pad.css">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>

<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
      <li role="presentation"><a href="/">Home</a></li>
      <li role="presentation"><a href="https://github.com/theothertomelliott/pairpad">GitHub</a></li>
    </ul>
  </nav>
    <h3 class="text-muted">Pair Pad</h3>
  </div>

  <div class="row document_content">
    <div class="col-md-8">
      <div id="editor" data-document="{{.DocumentId}}" data-session="{{.SessionId}}"></div>
    </div>
    <div class="col-md-4">

      <form class="form-inline" id="change_name">
        <div class="form-group">
          <div class="input-group">
            <label for="langSelect">Language</label>
            <select class="form-control" id="langSelect">
              <option value="c_cpp">c / c++</option><option value="csharp">c#</option><option value="css">css</option><option value="html">html</option>
              <option value="java">java</option><option selected="selected" value="javascript">javascript</option><option value="lua">lua</option><option value="pas">pascal</option>
              <option value="perl">perl</option><option value="php">php</option><option value="python">python</option><option value="ruby">ruby</option><option value="sql">sql</option>
              <option value="vbscript">vbscript</option><option value="xml">xml</option><option value="plain_text">plain text</option>
            </select>
          </div>
        </div>
      </form>

      <hr/>

      <div id="chat" data-document="{{.DocumentId}}" data-session="{{.SessionId}}">
        <div id="name_display" class="form-group">
          <span>Your name:</span> <strong><span id="current_name">No Name</span></strong> <button class="btn btn-xs btn-primary" id="change_name_link">Change</a>
        </div>
        <form class="form-inline" id="change_name">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" id="new_name" placeholder="Enter your name">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
          <button type="reset" id="cancel" class="btn btn-danger">Cancel</button>
        </form>
        <form class="form-inline" id="post_message">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" id="new_message" placeholder="Enter a message">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Post</button>
        </form>
        <h3>Chat</h3>
        <div id="messages">
        </div>
        <h3>Users</h3>
        <div id="users">
        </div>
      </div>
    </div>
  </div>

</div>

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>

<!-- Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- Ace Editor -->
<script src="/ace-min/ace.js" type="text/javascript" charset="utf-8"></script>

<!-- Sharedpad app -->
<script src="/js/pad.js" type="text/javascript"></script>
<script src="/js/chat.js" type="text/javascript"></script>
</body>
</html>
