/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.document_content {
  padding: 19px;
}

#pad {
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
  font-size: 1em;
}

#pad:focus {
    outline: none;
}

.line {
  height: 1em;
}

#cursor {
  display: inline;
  color: blue;
  font-style: bold italic;
  width: 1px;
  height: 0.8em;
  border-left: 1px solid #00f;
}

.char {
  display: inline;
}

#editor {
    display: block;
    width: auto;
    height: 600;
}

#messages {
  height: 300;
  border: 1px solid #ccc;
  padding: 3px;
  overflow: scroll;
}

#users {
  height: 100;
  border: 1px solid #ccc;
  padding: 3px;
  overflow: scroll;
}
